<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
        </ion-buttons>
        <ion-title>New Offer</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="onCreateOffer()" [disabled]="!form.valid">
                <ion-icon name="checkmark" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-input type="text" autocomplete autocorrect aria-label="title" formControlName="title"
                            label="Title" labelPlacement="floating"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <ion-textarea type="text" rows="1" aria-label="description" formControlName="description"
                            label="Description" labelPlacement="floating"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            @if (!form.get('description')!.valid && form.get('description')!.touched) {
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                        <p>Description should be between 1 and 180 characters.</p>
                    </ion-item>
                </ion-col>
            </ion-row>
            }
            <ion-row>
                <ion-col size-sm="3" offset-sm="3">
                    <ion-item>
                        <ion-input type="number" aria-label="price" formControlName="price" label="Price"
                            labelPlacement="floating"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="3" offset-sm="3">
                    <ion-item>
                        <date-time-button [id]="'dateFrom'" [placeholder]="'Available From'" formControlName="dateFrom"></date-time-button>
                    </ion-item>
                </ion-col>
                <ion-col size-sm="3">
                    <ion-item>
                        <date-time-button [id]="'dateTo'" [placeholder]="'Available To'" formControlName="dateTo"></date-time-button>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- <ion-modal [keepContentsMounted]="true" [isOpen]="showCalendar" (didDismiss)="cancelCalendar()">
            <ng-template>
                <ion-datetime id="datetimeFrom" presentation="date" formControlName="dateFrom" [preferWheel]="true" (ionChange)="dateFromChanged($event)"></ion-datetime>
            </ng-template>
        </ion-modal>

        <ion-modal [keepContentsMounted]="true">
            <ng-template>
                <ion-datetime id="datetimeTo" presentation="date" formControlName="dateTo" [preferWheel]="true"></ion-datetime>
            </ng-template>
        </ion-modal> -->
    </form>
</ion-content>