<div class="picker">
    @if(selectedImage()) {
    <ion-img
        class="image"
        [src]="selectedImage()"
        role="button"
        (click)="pickImage()"
    ></ion-img>
    } @else if(!(isLoading())) {
    <ion-button color="primary" (click)="pickImage()">
        <ion-icon name="camera-outline" slot="start"></ion-icon>
        <ion-label>Take picture</ion-label>
    </ion-button>
    } @else {
    <ion-spinner color="primary"></ion-spinner>
    }
</div>

<input type="file" *ngIf="usePicker()" #filePicker (change)="onFileChosen($event)"/>
